{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb-base",
    "airbnb-typescript"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-console": "off",
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "semi": [
      2,
      "always"
    ],
    "@typescript-eslint/quotes": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
    "strict": "error"
  },
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  }
}
