{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb-base",
    "airbnb-typescript",
    "stylelint-config-standard"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "off",
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "selector-class-pattern": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["--my-at-rule"]
      }
    ],
    "indentation": "tab",
    "number-leading-zero": null,
    "number-max-precision": [
      4,
      {
        "severity": "warning"
      }
    ],
    "unit-allowed-list": ["em", "rem", "s"]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
