{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb-base",
    "airbnb-typescript",
    "airbnb",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }},
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "semi": [
      2,
      "always"
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "@typescript-eslint/quotes": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ],
    "strict": "error",
    "import/no-cycle": [
      "off"
    ]
  },
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  }
}
